# Projeto de Bases de Dados - Parte 2

### Docente Responsável

Prof. FirstName LastName

### Grupo GG
<dl>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
    <dt>HH horas (33.3%)</dt>
    <dd>istxxxxxxxx FirstName LastName</dd>
<dl>

In [1]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://saude:saude@postgres/saude

There's a new jupysql version available (0.10.10), you're running 0.10.9. To upgrade: pip install jupysql --upgrade
Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql+psycopg://saude:***@postgres/saude'

## 0. Carregamento da Base de Dados

Crie a base de dados “Saude” no PostgreSQL e execute os comandos para criação das tabelas desta base de dados apresentados de seguida

In [2]:
%%sql

DROP TABLE IF EXISTS clinica CASCADE;
DROP TABLE IF EXISTS enfermeiro CASCADE;
DROP TABLE IF EXISTS medico CASCADE;
DROP TABLE IF EXISTS trabalha CASCADE;
DROP TABLE IF EXISTS paciente CASCADE;
DROP TABLE IF EXISTS receita CASCADE;
DROP TABLE IF EXISTS consulta CASCADE;
DROP TABLE IF EXISTS observacao CASCADE;

CREATE TABLE clinica(
	nome VARCHAR(80) PRIMARY KEY,
	telefone VARCHAR(15) UNIQUE NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) UNIQUE NOT NULL
);

CREATE TABLE enfermeiro(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	nome_clinica VARCHAR(80) NOT NULL REFERENCES clinica (nome)
);

CREATE TABLE medico(
	nif CHAR(9) PRIMARY KEY CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) UNIQUE NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	especialidade VARCHAR(80) NOT NULL
);

CREATE TABLE trabalha(
nif CHAR(9) NOT NULL REFERENCES medico,
nome VARCHAR(80) NOT NULL REFERENCES clinica,
dia_da_semana SMALLINT,
PRIMARY KEY (nif, dia_da_semana)
);

CREATE TABLE paciente(
	ssn CHAR(11) PRIMARY KEY CHECK (ssn ~ '^[0-9]+$'),
nif CHAR(9) UNIQUE NOT NULL CHECK (nif ~ '^[0-9]+$'),
	nome VARCHAR(80) NOT NULL,
	telefone VARCHAR(15) NOT NULL CHECK (telefone ~ '^[0-9]+$'),
	morada VARCHAR(255) NOT NULL,
	data_nasc DATE NOT NULL
);

CREATE TABLE consulta(
	id SERIAL PRIMARY KEY,
	ssn CHAR(11) NOT NULL REFERENCES paciente,
	nif CHAR(9) NOT NULL REFERENCES medico,
	nome VARCHAR(80) NOT NULL REFERENCES clinica,
	data DATE NOT NULL,
	hora TIME NOT NULL,
	codigo_sns CHAR(12) UNIQUE CHECK (codigo_sns ~ '^[0-9]+$'),
	UNIQUE(ssn, data, hora),
	UNIQUE(nif, data, hora)
);

CREATE TABLE receita(
	codigo_sns VARCHAR(12) NOT NULL REFERENCES consulta (codigo_sns),
	medicamento VARCHAR(155) NOT NULL,
	quantidade SMALLINT NOT NULL CHECK (quantidade > 0),
	PRIMARY KEY (codigo_sns, medicamento)
);

CREATE TABLE observacao(
	id INTEGER NOT NULL REFERENCES consulta,
	parametro VARCHAR(155) NOT NULL,
	valor FLOAT,
PRIMARY KEY (id, parametro)
);

++
||
++
++

## 1. Restrições de Integridade

Apresente o código para implementar as seguintes restrições de integridade, se necessário, com recurso a extensões procedimentais SQL (Stored Procedures e Triggers):

(RI-1) Os horários das consultas são à hora exata ou meia-hora no horário 8-13h e 14-19h

In [3]:
%%sql
-- (RI-1)
ALTER TABLE consulta ADD CONSTRAINT verifica_hora
	CHECK(EXTRACT(SECOND FROM hora) = 0	AND
		(EXTRACT(MINUTE FROM hora) = 0 OR EXTRACT(MINUTE FROM hora) = 30) AND
		(hora BETWEEN '08:00:00' AND '12:30:00' OR hora BETWEEN '14:00:00' AND '18:30:00'));

++
||
++
++

(RI-2) Um médico não se pode consultar a si próprio, embora possa ser paciente de outros médicos no sistema

In [4]:
%%sql
-- (RI-2)
CREATE OR REPLACE FUNCTION verifica_auto_consulta() RETURNS TRIGGER AS
$$
BEGIN
	IF NEW.nif = (SELECT nif FROM paciente WHERE ssn = NEW.ssn) THEN
		RAISE EXCEPTION 'O médico % não pode consultar-se a si próprio.', NEW.nif;
	END IF;
	RETURN NEW;
END;
$$
LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER proibe_auto_consulta BEFORE INSERT OR UPDATE ON consulta
	FOR EACH ROW EXECUTE FUNCTION verifica_auto_consulta();

++
||
++
++

(RI-3) Um médico só pode dar consultas na clínica em que trabalha no dia da semana correspondente à data da consulta

In [2]:
%%sql
-- (RI-3)

CREATE OR REPLACE FUNCTION verifica_local_trabalho() RETURNS TRIGGER AS
$$
BEGIN
	IF NEW.nome != (SELECT nome FROM trabalha WHERE nif = NEW.nif
		AND dia_da_semana = EXTRACT(DOW FROM NEW.data)) THEN
		RAISE EXCEPTION 'O médico % não trabalha na clínica % no dia %',
			NEW.nif, NEW.nome, NEW.data;
	END IF;
	RETURN NEW;
END;
$$
LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER proibe_consultas_fora_clinica BEFORE INSERT OR UPDATE ON consulta
	FOR EACH ROW EXECUTE FUNCTION verifica_local_trabalho();

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(psycopg.errors.SyntaxError) syntax error at or near "BEFORE"
LINE 1: ... CONSTRAINT TRIGGER proibe_consultas_fora_clinica BEFORE INS...
                                                             ^
[SQL: CREATE OR REPLACE CONSTRAINT TRIGGER proibe_consultas_fora_clinica BEFORE INSERT OR UPDATE ON consulta
	FOR EACH ROW EXECUTE FUNCTION verifica_local_trabalho();]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

## 2. Preenchimento da Base de Dados

Preencha todas as tabelas da base de dados de forma consistente (após execução do ponto anterior) com os seguintes requisitos adicionais de cobertura:
- 5 clínicas, de pelo menos 3 localidades diferentes do distrito de Lisboa
- 5-6 enfermeiros por clínica
- 20 médicos de especialidade ‘clínica geral’ e 40 outros distribuídos como entender por até 5 outras especialidades médicas (incluindo pelo menos, ‘ortopedia’ e ‘cardiologia’). Cada médico deve trabalhar em pelo menos duas clínicas, e em cada clínica a cada dia da semana (incluindo fins de semana), devem estar pelo menos 8 médicos
- Cerca de 5.000 pacientes
- Um número mínimo de consultas em 2023 e 2024 tais que cada paciente tem pelo menos uma consulta, e em cada dia há pelo menos 20 consultas por clínica, e pelo menos 2 consultas por médico
- ~80% das consultas tem receita médica associada, e as receitas têm 1 a 6 medicamentos em quantidades entre 1 e 3
- Todas as consultas têm 1 a 5 observações de sintomas (com parâmetro mas sem valor) e 0 a 3 observações métricas (com parâmetro e valor). Deve haver ~50 parâmetros diferentes para os sintomas (sem valor) e ~20 parâmetros diferentes para as observações métricas (com valor) e os dois conjuntos devem ser disjuntos. 
- Todas as moradas são nacionais e seguem o formato Português, terminando com código postal: XXXX-XXX e de seguida a localidade.
Deve ainda garantir que todas as consultas necessárias para a realização dos pontos seguintes do projeto produzem um resultado não vazio.

O código para preenchimento da base de dados deve ser compilado num ficheiro "populate.sql", anexado ao relatório, que contém com comandos INSERT ou alternativamente comandos COPY que populam as tabelas a partir de ficheiros de texto, também eles anexados ao relatório.

## 3. Desenvolvimento de Aplicação

Crie um protótipo de RESTful web service para gestão de consultas por acesso programático à base de dados ‘Saude’ através de uma API que devolve respostas em JSON, implementando os seguintes endpoints REST:

|Endpoint|Descrição|
|--------|---------|
|/|Lista todas as clínicas (nome e morada).|
|/c/\<clinica>/|Lista todas as especialidades oferecidas na \<clinica>.|
|/c/\<clinica>/\<especialidade>/|Lista todos os médicos (nome) da \<especialidade> que trabalham na <clínica> e os primeiros três horários disponíveis para consulta de cada um deles (data e hora).|
|/a/\<clinica>/registar/|Registra uma marcação de consulta na \<clinica> na base de dados (populando a respectiva tabela). Recebe como argumentos um paciente, um médico, e uma data e hora (posteriores ao momento de agendamento).|
|/a/\<clinica>/cancelar/|Cancela uma marcação de consulta que ainda não se realizou na \<clinica> (o seu horário é posterior ao momento do cancelamento), removendo a entrada da respectiva tabela na base de dados. Recebe como argumentos um paciente, um médico, e uma data e hora.|

### Explicação da arquitetura da aplicação web, incluindo a descrição dos vários ficheiros na pasta web/arquivos e a relação entre eles

...

## 3. Vistas

Crie uma vista materializada que detalhe as informações mais importantes sobre as consultas dos pacientes, combinando a informação de várias tabelas da base de dados. A vista deve ter o seguinte esquema:

### *historial_paciente(id, ssn, nif, nome, data, ano, mes, dia_do_mes, localidade, especialidade, tipo, chave, valor)*

em que:
- *id, ssn, nif, nome* e *data*: correspondem ao atributos homónimos da tabela **consulta**
- *ano, mes, dia_do_mes* e *dia_da_semana*: são derivados do atributo *data* da tabela **consulta**
- *localidade*: é derivado do atributo *morada* da tabela **clinica**
- *especialidade*: corresponde ao atributo homónimo da tabela **medico**
- *tipo*: toma os valores ‘observacao’ ou ‘receita’ consoante o preenchimento dos campos seguintes
- *chave*: corresponde ao atributo *parametro* da tabela **observacao** ou ao atributo *medicamento* da tabela **receita**
- *valor*: corresponde ao atributo *valor* da tabela **observacao** ou ao atributo *quantidade* da tabela **receita**

In [8]:
%%sql
-- CREATE MATERIALIZED VIEW ...
CREATE MATERIALIZED VIEW IF NOT EXISTS historial_paciente AS
    SELECT
        con.id AS id, con.ssn AS ssn, con.nif AS nif, con.nome AS nome, con.data AS data,
        EXTRACT(YEAR FROM con.data) AS ano, EXTRACT(MONTH FROM con.data) AS mes, EXTRACT(DAY FROM con.data) AS dia_do_mes,
        cli.morada AS localidade,
        med.especialidade AS especialidade,
        'observacao' AS tipo,
        obs.parametro AS chave,
        obs.valor AS valor
    FROM
        consulta con INNER JOIN clinica cli ON con.nome = cli.nome
        INNER JOIN medico med ON con.nif = med.nif 
        INNER JOIN observacao obs ON con.id = obs.id
    UNION
    SELECT
        con.id AS id, con.ssn AS ssn, con.nif AS nif, con.nome AS nome, con.data AS data,
        EXTRACT(YEAR FROM con.data) AS ano, EXTRACT(MONTH FROM con.data) AS mes, EXTRACT(DAY FROM con.data) AS dia_do_mes,
        cli.morada AS localidade,
        med.especialidade AS especialidade,
        'receita' AS tipo,
        rec.medicamento AS chave,
        rec.quantidade AS valor
    FROM
        consulta con INNER JOIN clinica cli ON con.nome = cli.nome
        INNER JOIN medico med ON con.nif = med.nif 
        INNER JOIN receita rec ON con.codigo_sns = rec.codigo_sns;

WITH datas AS (
                    SELECT
                        x::date AS data, x::time as hora
                    FROM
                        generate_series(timestamp '2024-01-01', timestamp '2024-12-31', interval '30 min') AS x
                    WHERE
                        ((x::time BETWEEN '08:00:00' AND '12:30:00') OR
                        (x::time BETWEEN '14:00:00' AND '18:30:00')) AND
                        x::timestamp > NOW()::timestamp
                ), possible AS (
                    SELECT t.nome_medico, d.data, d.hora
                    FROM (SELECT t.nif, t.dia_da_semana, m.nome AS nome_medico
                    FROM trabalha t INNER JOIN medico m USING(nif)
                    WHERE m.especialidade = 'cardiologia' AND t.nome = 'Clinica B') AS t
                    INNER JOIN datas d ON(EXTRACT(dow FROM d.data) = t.dia_da_semana)
                    LEFT OUTER JOIN consulta c ON(t.nif = c.nif AND d.data = c.data AND d.hora = c.hora)
                    WHERE c.id IS NULL
                )
                SELECT p1.nome_medico, p1.data, p1.hora
                FROM possible p1 INNER JOIN possible p2 ON (p1.nome_medico = p2.nome_medico AND (p1.data + p1.hora) >= (p2.data + p2.hora))
                GROUP BY p1.nome_medico, p1.data, p1.hora
                HAVING COUNT(*) <= 3
                ORDER BY p1.nome_medico, p1.data, p1.hora;

RuntimeError: If using snippets, you may pass the --with argument explicitly.
For more details please refer: https://jupysql.ploomber.io/en/latest/compose.html#with-argument


Original error message from DB driver:
(Your query contains named parameters (date, time, time, time, timestamp, timestamp) but the named parameters feature is "warn".
Enable it with: %config SqlMagic.named_parameters="enabled"
or disable it with: %config SqlMagic.named_parameters="disabled"
For more info, see the docs: https://jupysql.ploomber.io/en/latest/api/configuration.html#named-parameters)
(psycopg.errors.SyntaxError) syntax error at or near "SELECT"
LINE 12:                     (SELECT t.nif, t.dia_da_semana, m.nome A...
                              ^
[SQL: WITH datas AS (
                    SELECT
                        x::date AS data, x::time as hora
                    FROM
                        generate_series(timestamp '2024-01-01', timestamp '2024-12-31', interval '30 min') AS x
                    WHERE
                        ((x::time BETWEEN '08:00:00' AND '12:30:00') OR
                        (x::time BETWEEN '14:00:00' AND '18:30:00')) AND
                        x::timestamp > NOW()::timestamp
                ), possible AS (
                    SELECT t.nome_medico, d.data, d.hora
                    (SELECT t.nif, t.dia_da_semana, m.nome AS nome_medico
                    FROM trabalha t INNER JOIN medico m USING(nif)
                    WHERE m.especialidade = %%(especialidade)s AND t.nome = %%(nome)s) AS t
                    INNER JOIN datas d ON(EXTRACT(dow FROM d.data) = t.dia_da_semana)
                    LEFT OUTER JOIN consulta c ON(t.nif = c.nif AND d.data = c.data AND d.hora = c.hora)
                    WHERE c.id IS NULL
                )
                SELECT *
                FROM possible
                WHERE (nome_medico, data, hora) IN (
                    SELECT *
                    FROM possible AS p
                    WHERE p.nome_medico = nome_medico
                    ORDER BY data, hora
                    LIMIT 3
                )
                ORDER BY nif, data, hora;]
(Background on this error at: https://sqlalche.me/e/20/f405)

If you need help solving this issue, send us a message: https://ploomber.io/community

## 5. Análise de Dados (SQL e OLAP

Usando a vista desenvolvida no ponto anterior, complementada com outras tabelas da base de dados ‘Saude’ quando necessário, apresente a consulta SQL mais sucinta para cada um dos seguintes objetivos analíticos. Pode usar as instruções ROLLUP, CUBE, GROUPING SETS ou as cláusulas UNION of GROUP BY para os objetivos em que lhe parecer adequado.

1. Determinar que paciente(s) tiveram menos progresso no tratamento das suas doenças do foro ortopédico para atribuição de uma consulta gratuita. Considera-se que o indicador de falta de progresso é o intervalo temporal máximo entre duas observações do mesmo sintoma (i.e. registos de tipo ‘observacao’ com a mesma chave e com valor NULL) em consultas de ortopedia.

In [3]:
%%sql
-- SELECT ...
SELECT DISTINCT
    res.ssn
FROM
    (SELECT h.ssn, (MAX(h.data + c.hora) - MIN(h.data + c.hora)) AS intervalo
    FROM historial_paciente h INNER JOIN consulta c USING(id)
    WHERE h.especialidade = 'ortopedia' AND h.tipo = 'observacao' AND h.valor IS NULL
    GROUP BY h.ssn, h.chave HAVING (MAX(h.data + c.hora) - MIN(h.data + c.hora)) > INTERVAL '0') AS res
WHERE res.intervalo >= ALL (
    SELECT (MAX(h.data + c.hora) - MIN(h.data + c.hora))
    FROM historial_paciente h INNER JOIN consulta c USING(id)
    WHERE h.especialidade = 'ortopedia' AND h.tipo = 'observacao' AND h.valor IS NULL
    GROUP BY h.ssn, h.chave HAVING (MAX(h.data + c.hora) - MIN(h.data + c.hora)) > INTERVAL '0'
);

1 rows affected.

+-------------+
|     ssn     |
+-------------+
| 84349177267 |
+-------------+

2. Determinar que medicamentos estão a ser usados para tratar doenças crónicas do foro cardiológico. Considera-se que qualificam quaisquer medicamentos receitados ao mesmo paciente (qualquer que ele seja) pelo menos uma vez por mês durante pelo menos doze meses consecutivos, em consultas de cardiologia.

In [4]:
%%sql
-- SELECT ...
SELECT DISTINCT
    h1.chave AS nome_medicamento
FROM
    historial_paciente h1 INNER JOIN historial_paciente h2 ON(h1.ssn = h2.ssn AND
    h1.tipo = h2.tipo AND h1.chave = h2.chave AND h1.especialidade = h2.especialidade AND
    ((12 * (h2.ano - h1.ano) + (h2.mes - h1.mes)) BETWEEN 0 AND 11))
WHERE
    h1.tipo = 'receita' AND h1.especialidade = 'cardiologia'
GROUP BY
    h1.ssn, h1.chave
HAVING
    COUNT(h1.data) = 12
;

+------------------+
| nome_medicamento |
+------------------+
+------------------+

3. Explorar as quantidades totais receitadas de cada medicamento em 2023, globalmente, e com drill down nas dimensões espaço (localidade > clinica), tempo (mes > dia_do_mes), e médico  (especialidade > nome \[do médico]), separadamente.

In [5]:
%%sql
-- SELECT ...
SELECT
    SUBSTRING(localidade FROM '[0-9]{4}-[0-9]{3} (.+)$') AS localidade, h.nome, mes, dia_do_mes, h.especialidade, m.nome AS nome_medico, SUM(valor) AS quantidade_total
FROM
    historial_paciente h INNER JOIN medico m USING(nif)
WHERE
    tipo = 'receita' AND ano = 2023
GROUP BY GROUPING SETS
    ((SUBSTRING(localidade FROM '[0-9]{4}-[0-9]{3} (.+)$')), (SUBSTRING(localidade FROM '[0-9]{4}-[0-9]{3} (.+)$'), h.nome),
     (mes), (mes, dia_do_mes),
     (h.especialidade), (h.especialidade, nome_medico))
;

451 rows affected.

+------------+-----------+------+------------+---------------+-------------+------------------+
| localidade |    nome   | mes  | dia_do_mes | especialidade | nome_medico | quantidade_total |
+------------+-----------+------+------------+---------------+-------------+------------------+
| Moscavide  | Clinica B | None |    None    |      None     |     None    |     48691.0      |
|  Odivelas  | Clínica E | None |    None    |      None     |     None    |     48702.0      |
| Moscavide  | Clínica A | None |    None    |      None     |     None    |     49173.0      |
|  Bobadela  | Clínica D | None |    None    |      None     |     None    |     48250.0      |
|  Bobadela  | Clínica C | None |    None    |      None     |     None    |     49266.0      |
| Moscavide  |    None   | None |    None    |      None     |     None    |     97864.0      |
|  Odivelas  |    None   | None |    None    |      None     |     None    |     48702.0      |
|  Bobadela  |    None   | None |    None    |      None     |     None    |     97516.0      |
|    None    |    None   |  7   |     13     |      None     |     None    |      704.0       |
|    None    |    None   |  3   |     17     |      None     |     None    |      649.0       |
|    None    |    None   |  5   |     27     |      None     |     None    |      612.0       |
|    None    |    None   |  4   |     27     |      None     |     None    |      745.0       |
|    None    |    None   |  1   |     19     |      None     |     None    |      601.0       |
|    None    |    None   |  3   |     15     |      None     |     None    |      653.0       |
|    None    |    None   |  10  |     21     |      None     |     None    |      633.0       |
|    None    |    None   |  12  |     1      |      None     |     None    |      672.0       |
|    None    |    None   |  10  |     10     |      None     |     None    |      709.0       |
|    None    |    None   |  7   |     24     |      None     |     None    |      750.0       |
|    None    |    None   |  3   |     12     |      None     |     None    |      606.0       |
|    None    |    None   |  10  |     27     |      None     |     None    |      652.0       |
|    None    |    None   |  5   |     24     |      None     |     None    |      628.0       |
|    None    |    None   |  2   |     23     |      None     |     None    |      649.0       |
|    None    |    None   |  11  |     30     |      None     |     None    |      692.0       |
|    None    |    None   |  9   |     1      |      None     |     None    |      653.0       |
|    None    |    None   |  5   |     1      |      None     |     None    |      625.0       |
|    None    |    None   |  6   |     2      |      None     |     None    |      650.0       |
|    None    |    None   |  5   |     31     |      None     |     None    |      617.0       |
|    None    |    None   |  12  |     31     |      None     |     None    |      708.0       |
|    None    |    None   |  8   |     12     |      None     |     None    |      704.0       |
|    None    |    None   |  1   |     29     |      None     |     None    |      675.0       |
|    None    |    None   |  6   |     20     |      None     |     None    |      749.0       |
|    None    |    None   |  7   |     5      |      None     |     None    |      693.0       |
|    None    |    None   |  11  |     6      |      None     |     None    |      719.0       |
|    None    |    None   |  7   |     27     |      None     |     None    |      607.0       |
|    None    |    None   |  3   |     18     |      None     |     None    |      688.0       |
|    None    |    None   |  1   |     20     |      None     |     None    |      655.0       |
|    None    |    None   |  6   |     7      |      None     |     None    |      717.0       |
|    None    |    None   |  4   |     25     |      None     |     None    |      688.0       |
|    None    |    None   |  9   |     10     |      None     |     None    |      638.0       |
|    None    |    None   |  11  |     13     |      None     |     None    |      620.0       |
|    None    |    None   |  8   |     2      |      None     |     None    |      648.0       |
|    None    |    None   |  12  |     27     |      None     |     None    |      635.0       |
|    None    |    None   |  2   |     4      |      None     |     None    |      643.0       |
|    None    |    None   |  1   |     23     |      None     |     None    |      670.0       |
|    None    |    None   |  6   |     24     |      None     |     None    |      649.0       |
|    None    |    None   |  2   |     2      |      None     |     None    |      739.0       |
|    None    |    None   |  9   |     27     |      None     |     None    |      695.0       |
|    None    |    None   |  12  |     25     |      None     |     None    |      707.0       |
|    None    |    None   |  8   |     27     |      None     |     None    |      610.0       |
|    None    |    None   |  10  |     13     |      None     |     None    |      649.0       |
|    None    |    None   |  9   |     15     |      None     |     None    |      690.0       |
|    None    |    None   |  3   |     31     |      None     |     None    |      618.0       |
|    None    |    None   |  10  |     30     |      None     |     None    |      699.0       |
|    None    |    None   |  10  |     23     |      None     |     None    |      721.0       |
|    None    |    None   |  5   |     16     |      None     |     None    |      668.0       |
|    None    |    None   |  10  |     2      |      None     |     None    |      720.0       |
|    None    |    None   |  3   |     29     |      None     |     None    |      703.0       |
|    None    |    None   |  2   |     20     |      None     |     None    |      664.0       |
|    None    |    None   |  10  |     20     |      None     |     None    |      578.0       |
|    None    |    None   |  3   |     9      |      None     |     None    |      667.0       |
|    None    |    None   |  6   |     22     |      None     |     None    |      746.0       |
|    None    |    None   |  4   |     3      |      None     |     None    |      704.0       |
|    None    |    None   |  6   |     19     |      None     |     None    |      579.0       |
|    None    |    None   |  4   |     7      |      None     |     None    |      688.0       |
|    None    |    None   |  5   |     22     |      None     |     None    |      650.0       |
|    None    |    None   |  12  |     13     |      None     |     None    |      592.0       |
|    None    |    None   |  7   |     30     |      None     |     None    |      592.0       |
|    None    |    None   |  4   |     17     |      None     |     None    |      748.0       |
|    None    |    None   |  3   |     16     |      None     |     None    |      683.0       |
|    None    |    None   |  2   |     12     |      None     |     None    |      669.0       |
|    None    |    None   |  5   |     12     |      None     |     None    |      676.0       |
|    None    |    None   |  2   |     10     |      None     |     None    |      652.0       |
|    None    |    None   |  8   |     29     |      None     |     None    |      706.0       |
|    None    |    None   |  5   |     9      |      None     |     None    |      724.0       |
|    None    |    None   |  3   |     27     |      None     |     None    |      662.0       |
|    None    |    None   |  2   |     14     |      None     |     None    |      709.0       |
|    None    |    None   |  11  |     17     |      None     |     None    |      687.0       |
|    None    |    None   |  2   |     17     |      None     |     None    |      624.0       |
|    None    |    None   |  11  |     22     |      None     |     None    |      583.0       |
|    None    |    None   |  8   |     6      |      None     |     None    |      693.0       |
|    None    |    None   |  4   |     1      |      None     |     None    |      722.0       |
|    None    |    None   |  8   |     7      |      None     |     None    |      754.0       |
|    None    |    None   |  2   |     26     |      None     |     None    |      664.0       |
|    None    |    None   |  12  |     9      |      None     |     None    |      714.0       |
|    None    |    None   |  5   |     25     |      None     |     None    |      585.0       |
|    None    |    None   |  3   |     19     |      None     |     None    |      720.0       |
|    None    |    None   |  12  |     23     |      None     |     None    |      680.0       |
|    None    |    None   |  11  |     26     |      None     |     None    |      709.0       |
|    None    |    None   |  9   |     25     |      None     |     None    |      659.0       |
|    None    |    None   |  2   |     15     |      None     |     None    |      716.0       |
|    None    |    None   |  10  |     19     |      None     |     None    |      713.0       |
|    None    |    None   |  3   |     1      |      None     |     None    |      735.0       |
|    None    |    None   |  2   |     25     |      None     |     None    |      621.0       |
|    None    |    None   |  7   |     8      |      None     |     None    |      695.0       |
|    None    |    None   |  1   |     11     |      None     |     None    |      720.0       |
|    None    |    None   |  12  |     17     |      None     |     None    |      646.0       |
|    None    |    None   |  5   |     4      |      None     |     None    |      708.0       |
|    None    |    None   |  6   |     9      |      None     |     None    |      631.0       |
|    None    |    None   |  1   |     16     |      None     |     None    |      699.0       |
|    None    |    None   |  11  |     12     |      None     |     None    |      709.0       |
+------------+-----------+------+------------+---------------+-------------+------------------+
Truncated to displaylimit of 100.

4. Determinar se há enviesamento na medição de algum parâmetros entre clínicas, especialidades médicas ou médicos, sendo para isso necessário listar o valor médio e desvio padrão de todos os parâmetros de observações métricas (i.e. com valor não NULL) com drill down na dimensão médico (globalmente > especialidade > nome \[do médico]) e drill down adicional (sobre o anterior) por clínica.

In [6]:
%%sql
-- SELECT ...
SELECT
    chave AS parametro, h.especialidade, m.nome AS nome_medico, h.nome,
    AVG(valor) AS media, STDDEV(valor) AS desvio_padrao
FROM
    historial_paciente h INNER JOIN medico m USING(nif)
WHERE
    tipo = 'observacao' AND valor IS NOT NULL
GROUP BY GROUPING SETS
    ((parametro),
     (parametro,  h.especialidade),
     (parametro, h.especialidade, nome_medico),
     (parametro, h.especialidade, nome_medico, h.nome))
ORDER BY parametro, especialidade, nome_medico, nome
;

6971 rows affected.

+------------------+---------------+---------------------+-----------+--------------------+--------------------+
|    parametro     | especialidade |     nome_medico     |    nome   |       media        |   desvio_padrao    |
+------------------+---------------+---------------------+-----------+--------------------+--------------------+
| colesterol total |  cardiologia  |     Brian Amorim    | Clínica A | 45.33493703975022  | 27.697907019342214 |
| colesterol total |  cardiologia  |     Brian Amorim    | Clinica B | 39.53011656874184  | 26.465919632964304 |
| colesterol total |  cardiologia  |     Brian Amorim    | Clínica C | 49.74630287837777  | 33.996012454821205 |
| colesterol total |  cardiologia  |     Brian Amorim    | Clínica D | 44.323712866650915 | 30.032864860890008 |
| colesterol total |  cardiologia  |     Brian Amorim    | Clínica E | 49.999615625613565 | 38.118680801057536 |
| colesterol total |  cardiologia  |     Brian Amorim    |    None   |  46.0046834288299  | 30.238578784713958 |
| colesterol total |  cardiologia  |      Gil Silva      | Clínica A | 41.80907292309748  | 28.63327783400741  |
| colesterol total |  cardiologia  |      Gil Silva      | Clinica B | 48.28310170303007  | 30.34627665860821  |
| colesterol total |  cardiologia  |      Gil Silva      | Clínica C | 58.26062182058485  | 30.653955780811515 |
| colesterol total |  cardiologia  |      Gil Silva      | Clínica D | 54.292437130219604 | 36.06565876494843  |
| colesterol total |  cardiologia  |      Gil Silva      | Clínica E | 50.651799695865286 | 39.44154533153072  |
| colesterol total |  cardiologia  |      Gil Silva      |    None   | 51.169709835782605 | 32.11673701554958  |
| colesterol total |  cardiologia  |    Igor Loureiro    | Clínica A | 67.01591494958346  | 9.893396224602682  |
| colesterol total |  cardiologia  |    Igor Loureiro    | Clinica B | 60.08487483847175  | 21.92656010194429  |
| colesterol total |  cardiologia  |    Igor Loureiro    | Clínica C |  45.0423291093191  | 33.63553432642233  |
| colesterol total |  cardiologia  |    Igor Loureiro    | Clínica D | 65.49725508809794  | 29.660564063583383 |
| colesterol total |  cardiologia  |    Igor Loureiro    | Clínica E |  54.2705113646239  | 31.67070854912592  |
| colesterol total |  cardiologia  |    Igor Loureiro    |    None   | 57.564631120679536 | 28.954306780842128 |
| colesterol total |  cardiologia  |    Nelson Matias    | Clínica A | 65.85986079428169  | 19.50744163467903  |
| colesterol total |  cardiologia  |    Nelson Matias    | Clinica B | 42.40063733054173  | 26.474283075294665 |
| colesterol total |  cardiologia  |    Nelson Matias    | Clínica C | 62.13785437325573  | 31.335709655458306 |
| colesterol total |  cardiologia  |    Nelson Matias    | Clínica D | 41.60605047651023  | 19.672858158397787 |
| colesterol total |  cardiologia  |    Nelson Matias    | Clínica E | 46.52563054599385  | 28.22874047177986  |
| colesterol total |  cardiologia  |    Nelson Matias    |    None   | 51.83604206922336  | 28.157070239588087 |
| colesterol total |  cardiologia  |      Noa Rocha      | Clínica A |  63.3939097061373  | 38.434015816482685 |
| colesterol total |  cardiologia  |      Noa Rocha      | Clinica B | 62.718072317443216 | 29.19160820791243  |
| colesterol total |  cardiologia  |      Noa Rocha      | Clínica C |  54.4023394501846  | 31.62713159043647  |
| colesterol total |  cardiologia  |      Noa Rocha      | Clínica D | 42.515291423028486 | 30.34163348755259  |
| colesterol total |  cardiologia  |      Noa Rocha      | Clínica E | 60.64786476784855  | 24.074846037892097 |
| colesterol total |  cardiologia  |      Noa Rocha      |    None   | 53.58970145613439  | 30.40623471686662  |
| colesterol total |  cardiologia  |    Renata Vieira    | Clínica A | 47.91367823040124  | 25.92419989407814  |
| colesterol total |  cardiologia  |    Renata Vieira    | Clinica B | 47.37666094663329  | 29.63964425580819  |
| colesterol total |  cardiologia  |    Renata Vieira    | Clínica C | 42.754639466195314 | 21.94311513539383  |
| colesterol total |  cardiologia  |    Renata Vieira    | Clínica D | 68.42000404938386  | 29.83264625034906  |
| colesterol total |  cardiologia  |    Renata Vieira    | Clínica E | 56.87124507428483  | 31.40826205448731  |
| colesterol total |  cardiologia  |    Renata Vieira    |    None   | 51.72393300056247  | 28.274669895497603 |
| colesterol total |  cardiologia  |         None        |    None   | 51.93234720709961  | 29.730974821254073 |
| colesterol total | clínica geral |  Artur Pinho-Faria  | Clínica A | 40.05929606925012  | 28.326649673117647 |
| colesterol total | clínica geral |  Artur Pinho-Faria  | Clinica B | 60.274723623825494 | 30.96898023035569  |
| colesterol total | clínica geral |  Artur Pinho-Faria  | Clínica C | 44.97107675601974  | 26.694063095668223 |
| colesterol total | clínica geral |  Artur Pinho-Faria  | Clínica D | 27.96420036230375  | 24.811209235543192 |
| colesterol total | clínica geral |  Artur Pinho-Faria  | Clínica E | 72.01800263620682  |  21.4402662381009  |
| colesterol total | clínica geral |  Artur Pinho-Faria  |    None   | 48.42146825687624  | 29.688608500747815 |
| colesterol total | clínica geral |   Bárbara Marques   | Clínica A | 56.961074688665505 | 28.96237258212662  |
| colesterol total | clínica geral |   Bárbara Marques   | Clinica B | 65.97434391683494  | 29.922944417120956 |
| colesterol total | clínica geral |   Bárbara Marques   | Clínica C | 38.383286580966924 | 29.27057114523177  |
| colesterol total | clínica geral |   Bárbara Marques   | Clínica D | 46.67155163583781  | 27.589554712742686 |
| colesterol total | clínica geral |   Bárbara Marques   | Clínica E | 55.91314905524863  | 26.537058049105553 |
| colesterol total | clínica geral |   Bárbara Marques   |    None   | 56.081798422754964 | 29.316619723624914 |
| colesterol total | clínica geral |    Carlota Brito    | Clínica A | 56.83256171801799  | 30.893876465960435 |
| colesterol total | clínica geral |    Carlota Brito    | Clinica B | 53.27754814278969  | 32.56537375910511  |
| colesterol total | clínica geral |    Carlota Brito    | Clínica C | 61.92009072703029  | 29.482556972637926 |
| colesterol total | clínica geral |    Carlota Brito    | Clínica D | 49.99305645418445  | 32.51543047269034  |
| colesterol total | clínica geral |    Carlota Brito    | Clínica E | 59.85489941691975  |  25.9060228763858  |
| colesterol total | clínica geral |    Carlota Brito    |    None   | 56.187859471832866 | 30.13226860032248  |
| colesterol total | clínica geral | Clara Silva-Ribeiro | Clínica A | 36.18270683146106  | 32.753356533314005 |
| colesterol total | clínica geral | Clara Silva-Ribeiro | Clinica B | 68.32516534872468  | 26.362417697643433 |
| colesterol total | clínica geral | Clara Silva-Ribeiro | Clínica C | 57.66753340947292  | 22.865857509874687 |
| colesterol total | clínica geral | Clara Silva-Ribeiro | Clínica D | 35.87582879412124  | 33.56551542650305  |
| colesterol total | clínica geral | Clara Silva-Ribeiro | Clínica E | 46.66458411191462  | 27.18510761444496  |
| colesterol total | clínica geral | Clara Silva-Ribeiro |    None   | 48.70382372044296  | 30.23169424126901  |
| colesterol total | clínica geral |    Daniela Alves    | Clínica A | 45.02102003046903  | 30.29649699366934  |
| colesterol total | clínica geral |    Daniela Alves    | Clinica B | 56.227219531988005 | 28.981838810558145 |
| colesterol total | clínica geral |    Daniela Alves    | Clínica C | 51.46996189447094  | 30.764239315474875 |
| colesterol total | clínica geral |    Daniela Alves    | Clínica D | 55.55781297867672  |  30.3591714560702  |
| colesterol total | clínica geral |    Daniela Alves    | Clínica E | 48.02983428820343  | 30.072307080301893 |
| colesterol total | clínica geral |    Daniela Alves    |    None   | 50.52097335385463  | 29.316325271438792 |
| colesterol total | clínica geral |   Gonçalo Barbosa   | Clínica A | 57.23704075788843  | 32.00140464276463  |
| colesterol total | clínica geral |   Gonçalo Barbosa   | Clinica B |  72.659581720132   | 11.023284300389145 |
| colesterol total | clínica geral |   Gonçalo Barbosa   | Clínica C |  47.0631377311335  | 34.88074778428195  |
| colesterol total | clínica geral |   Gonçalo Barbosa   | Clínica D | 47.743696417244806 | 30.371562707547618 |
| colesterol total | clínica geral |   Gonçalo Barbosa   | Clínica E | 37.521426122870835 | 32.330134495252906 |
| colesterol total | clínica geral |   Gonçalo Barbosa   |    None   |  50.4151138852369  | 31.58710763962192  |
| colesterol total | clínica geral |  Gonçalo da Freitas | Clínica A | 46.66670303447379  | 28.943832850624883 |
| colesterol total | clínica geral |  Gonçalo da Freitas | Clinica B | 50.58515104137234  |  28.3434774854009  |
| colesterol total | clínica geral |  Gonçalo da Freitas | Clínica C |  45.7993793942168  | 36.10610168427083  |
| colesterol total | clínica geral |  Gonçalo da Freitas | Clínica D | 53.01103343155181  | 28.21205436144599  |
| colesterol total | clínica geral |  Gonçalo da Freitas | Clínica E | 51.23430495325593  | 22.477546963838797 |
| colesterol total | clínica geral |  Gonçalo da Freitas |    None   | 48.62846082765856  | 28.822599651191595 |
| colesterol total | clínica geral |     Igor Pacheco    | Clínica A | 47.830123746487104 | 26.762476239433827 |
| colesterol total | clínica geral |     Igor Pacheco    | Clinica B | 44.450278178485355 | 28.692359124513906 |
| colesterol total | clínica geral |     Igor Pacheco    | Clínica C | 43.359078873483234 | 24.900714285014246 |
| colesterol total | clínica geral |     Igor Pacheco    | Clínica D | 42.16026809923611  | 32.712913217710756 |
| colesterol total | clínica geral |     Igor Pacheco    | Clínica E | 47.03810558209405  | 24.93906475848284  |
| colesterol total | clínica geral |     Igor Pacheco    |    None   | 46.120265940268965 | 25.55596716992522  |
| colesterol total | clínica geral |    Inês da Araújo   | Clínica A | 49.719828517776484 | 38.93419017738429  |
| colesterol total | clínica geral |    Inês da Araújo   | Clinica B | 44.22815641944706  | 29.300917982857843 |
| colesterol total | clínica geral |    Inês da Araújo   | Clínica C | 51.93430874337045  | 30.710751799008317 |
| colesterol total | clínica geral |    Inês da Araújo   | Clínica D | 56.135885081548544 | 32.43209181009576  |
| colesterol total | clínica geral |    Inês da Araújo   | Clínica E | 46.35294608057402  | 28.74036040303339  |
| colesterol total | clínica geral |    Inês da Araújo   |    None   | 49.549143610961785 | 31.96823725845315  |
| colesterol total | clínica geral |   Isaac de Pereira  | Clínica A | 52.24359679192024  | 28.96129891473046  |
| colesterol total | clínica geral |   Isaac de Pereira  | Clinica B | 39.518252143159934 | 27.069744010724545 |
| colesterol total | clínica geral |   Isaac de Pereira  | Clínica C | 30.179643967403734 | 23.24147331307285  |
| colesterol total | clínica geral |   Isaac de Pereira  | Clínica D | 53.72714420555848  | 20.77726615362203  |
| colesterol total | clínica geral |   Isaac de Pereira  | Clínica E | 42.13860970120654  | 33.25166119937031  |
| colesterol total | clínica geral |   Isaac de Pereira  |    None   | 45.49231678621873  | 28.694046495479256 |
| colesterol total | clínica geral |      Ismael Vaz     | Clínica A | 43.14063360809357  | 24.37264284078074  |
| colesterol total | clínica geral |      Ismael Vaz     | Clinica B | 41.92085583062839  | 27.563150688398174 |
| colesterol total | clínica geral |      Ismael Vaz     | Clínica C | 45.37485780560598  | 27.509313216719267 |
+------------------+---------------+---------------------+-----------+--------------------+--------------------+
Truncated to displaylimit of 100.

## 6. Índices

Apresente as instruções SQL para criação de índices para melhorar os tempos de cada uma das consultas listadas abaixo sobre a base de dados ‘Saude’. Justifique a sua escolha de tabela(s), atributo(s) e tipo(s) de índice, explicando que operações seriam otimizadas e como. Considere que não existam índices nas tabelas, além daqueles implícitos ao declarar chaves primárias e estrangeiras, e para efeitos deste exercício, suponha que o tamanho das tabelas excede a memória disponível em várias ordens de magnitude.

### 6.1
SELECT nome 
FROM paciente 
JOIN consulta USING (ssn) 
JOIN observacao USING (id) 
WHERE parametro = ‘pressão diastólica’ 
AND valor >= 9;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...

### 6.2
SELECT especialidade, SUM(quantidade) AS qtd
FROM medico 
JOIN consulta USING (nif)
JOIN receita USING (codigo_ssn) 
WHERE data BETWEEN ‘2023-01-01’ AND ‘2023-12-31’ 
GROUP BY especialidade
SORT BY qtd;

In [ ]:
%%sql
-- CREATE INDEX ...

### Justificação

...