# Lab 09: SPs + Triggers

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

In [2]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://bank:bank@postgres/bank

Connecting to 'postgresql+psycopg://bank:***@postgres/bank'

1. Implemente as seguintes funcionalidades:

(a) Escreva uma função em SQL que devolve o saldo absoluto de um cliente, isto é, a diferença entre (1) todo o dinheiro que esse cliente tem em contas e (2) todas as quantias que deve em empréstimos ao banco.

In [4]:
%%sql
    
CREATE OR REPLACE FUNCTION abs_balance(c_name VARCHAR)
    RETURNS DECIMAL(16, 4)
AS
$$
    DECLARE deb DECIMAL(16, 4);
    DECLARE bal DECIMAL(16, 4);
    BEGIN
        SELECT SUM(amount) INTO deb
        FROM borrower INNER JOIN loan USING(loan_number)
        WHERE customer_name = c_name;
        IF deb IS NULL THEN deb := 0; END IF;
        SELECT SUM(balance) INTO bal
        FROM depositor INNER JOIN account USING(account_number)
        WHERE customer_name = c_name;
        IF bal IS NULL THEN bal := 0; END IF;
        RETURN bal - deb;
    END;     
$$
LANGUAGE plpgsql;

SELECT * FROM abs_balance('Cook');

1 rows affected.

1 rows affected.

+-------------+
| abs_balance |
+-------------+
|  -1800.0000 |
+-------------+

(b) Escreva uma função que devolve a diferença entre o saldo médio das contas em duas agências dadas. A função tem como parâmetros as agências a comparar.

In [29]:
%%sql
    
CREATE OR REPLACE FUNCTION average_balance_diff(ag_1 VARCHAR, ag_2 VARCHAR)
    RETURNS FLOAT
AS
$$
    DECLARE av_1 FLOAT;
    DECLARE av_2 FLOAT;
    BEGIN
        SELECT AVG(balance) INTO av_1
        FROM account
        WHERE branch_name = ag_1;
        IF av_1 IS NULL THEN av_1 := 0; END IF;
        SELECT AVG(balance) INTO av_2
        FROM account
        WHERE branch_name = ag_2;
        IF av_2 IS NULL THEN av_2 := 0; END IF;
        RETURN av_1 - av_2;
    END;
$$
LANGUAGE plpgsql;

++
||
++
++

(c) Usando a função desenvolvida na alínea anterior, escreva uma consulta que permita determinar qual é a agência cujo saldo médio é o maior.

In [17]:
%%sql

CREATE OR REPLACE FUNCTION highest_average_balance()
    RETURNS SETOF VARCHAR
AS
$$
        SELECT DISTINCT
            b.branch_name
        FROM
            branch b INNER JOIN account USING(branch_name)
        WHERE NOT EXISTS (
            SELECT
                br.branch_name
            FROM
                branch br
            WHERE
                average_balance_diff(b.branch_name, br.branch_name) < 0
        );
$$
LANGUAGE sql;

SELECT * FROM highest_average_balance();

2 rows affected.

+-------------------------+
| highest_average_balance |
+-------------------------+
|          Uptown         |
|        Round Hill       |
+-------------------------+

(d) A tabela depositor associa clientes a contas. Escreva em SQL os comandos necessários de modo a que se uma conta for apagada da tabela account, sejam também apagados os registos na tabela depositor correspondentes.

In [20]:
%%sql
ALTER TABLE depositor DROP CONSTRAINT fk_depositor_account;
ALTER TABLE depositor ADD CONSTRAINT fk_depositor_account FOREIGN KEY(account_number) REFERENCES account(account_number) ON DELETE CASCADE;

++
||
++
++

(e) Repita a alínea anterior para os empréstimos (i.e., com as tabelas borrower e loan).

In [19]:
%%sql
ALTER TABLE borrower DROP CONSTRAINT fk_borrower_loan;
ALTER TABLE borrower ADD CONSTRAINT fk_borrower_loan FOREIGN KEY(loan_number) REFERENCES loan(loan_number) ON DELETE CASCADE;

++
||
++
++

2. Implemente os seguintes triggers:

(a) Escreva um trigger que elimina um empréstimo de um cliente quando a respetiva quantia (amount) em dívida for inferior ou igual a zero. As amortizações de um empréstimo são feitas através de um update do campo amount na tabela loan. O trigger deverá assegurar que quando o amount seja negativo, o valor (negativo) seja adicionado como asset do branch respectivo, e o respectivo empréstimo seja eliminado das tabelas borrower e loan. Por exemplo, se o amount em dívida for 100 e for feito um update de 150, o empréstimo deverá ser eliminado e ao assets do branch deverá somar 50.

In [28]:
%%sql

CREATE OR REPLACE FUNCTION pay_off_loan() RETURNS TRIGGER AS
$$
BEGIN
    IF NEW.amount <= 0 THEN
        UPDATE branch SET assets = assets - NEW.amount WHERE branch_name = NEW.branch_name;
        DELETE FROM borrower WHERE loan_number = NEW.loan_number;
        DELETE FROM loan WHERE loan_number = NEW.loan_number;
    END IF;
    RETURN NEW;
END;
$$
LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER payed_off_loan AFTER UPDATE ON loan FOR EACH ROW EXECUTE FUNCTION pay_off_loan();

Deploy Dash apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

++
||
++
++

(b) Uma nova política do banco obriga a não conceder a partir de agora novos empréstimos a clientes que não estejam associados a contas no banco.
Escreva um trigger para impedir a associação desses clientes a um empréstimo.

In [35]:
%%sql

CREATE OR REPLACE FUNCTION please_gib_money() RETURNS TRIGGER AS
$$
    BEGIN
        IF NEW.customer_name NOT IN (SELECT customer_name FROM depositor) THEN
            RAISE EXCEPTION '% must be a depositor to get a loan', NEW.customer_name;
        END IF;
        RETURN NEW;
    END;
$$
LANGUAGE plpgsql;

CREATE OR REPLACE TRIGGER gib_us_money_sir AFTER INSERT ON borrower FOR EACH ROW EXECUTE FUNCTION please_gib_money();

++
||
++
++