# Lab 08: Consultas em SQL (Parte II)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

In [32]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://bank:bank@postgres/bank

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

Connecting and switching to connection 'postgresql+psycopg://bank:***@postgres/bank'

Escreva uma consulta em SQL para responder a cada uma das seguintes questões:

(a) Quem são os clientes que moram em cidades onde existem agências do banco?

In [2]:
%%sql
SELECT
  customer_name
FROM
  customer
WHERE
  customer_city IN (
    SELECT
      branch_city
    FROM
      branch
  );

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Adams     |
|     Brown     |
|      Cook     |
|     Davis     |
|     Lopez     |
|     Oliver    |
|     Parker    |
+---------------+

(b) Quem são os clientes que têm um empréstimo numa agência da mesma cidade onde moram?

In [14]:
%%sql
SELECT DISTINCT
    c.customer_name
FROM
    customer c
    INNER JOIN
    borrower b ON c.customer_name = b.customer_name
    INNER JOIN
    loan l ON l.loan_number = b.loan_number
    INNER JOIN
    branch br ON l.branch_name = br.branch_name
WHERE
    br.branch_name = c.customer_city
;

+---------------+
| customer_name |
+---------------+
+---------------+

(c)	Quais são os nomes e moradas dos clientes que têm conta no banco, mas não têm empréstimos?

In [17]:
%%sql
SELECT DISTINCT
    c.customer_name, c.customer_street
FROM
    customer c
    INNER JOIN
    depositor d ON c.customer_name = d.customer_name
EXCEPT
SELECT DISTINCT
    c.customer_name, c.customer_street
FROM
    customer c
    INNER JOIN
    borrower b ON c.customer_name = b.customer_name
;

4 rows affected.

+---------------+-----------------+
| customer_name | customer_street |
+---------------+-----------------+
|     Flores    |  Station Street |
|     Oliver    |   First Stret   |
|    Johnson    |    New Street   |
|     Evans     |  Forest Street  |
+---------------+-----------------+

(d)	Quantos clientes moram na mesma cidade de uma agência onde têm conta?

In [30]:
%%sql
SELECT
    COUNT(DISTINCT c.customer_name)
FROM
    customer c
    INNER JOIN
    depositor d ON c.customer_name = d.customer_name
    INNER JOIN
    account a ON a.account_number = d.account_number
    INNER JOIN
    branch b  ON a.branch_name = b.branch_name
WHERE
    c.customer_city = b.branch_city
;

1 rows affected.

+-------+
| count |
+-------+
|   1   |
+-------+

(e)	Quantos clientes têm pelo menos uma conta e um empréstimo no banco?

In [35]:
%%sql
SELECT
    COUNT(customer_name) AS Quantity
FROM
    (
    SELECT
        ic.customer_name
    FROM
        customer ic INNER JOIN borrower b ON ic.customer_name = b.customer_name
    INTERSECT
    SELECT
        ic.customer_name
    FROM
        customer ic INNER JOIN depositor d ON ic.customer_name = d.customer_name
    )
;

1 rows affected.

+----------+
| quantity |
+----------+
|    3     |
+----------+

(f)	Qual o nome dos clientes que têm mais do que um empréstimo?

In [38]:
%%sql
SELECT
    c.customer_name
FROM
    customer c INNER JOIN borrower b ON c.customer_name = b.customer_name
GROUP BY c.customer_name
HAVING COUNT(*) > 1
;

2 rows affected.

+---------------+
| customer_name |
+---------------+
|    Iacocca    |
|     Brown     |
+---------------+

(g)	Liste os nomes dos clientes que têm mais de duas contas no banco por ordem alfabética.

In [42]:
%%sql
SELECT
    c.customer_name
FROM
    customer c INNER JOIN depositor d ON c.customer_name = d.customer_name
GROUP BY c.customer_name
HAVING COUNT(*) > 2
ORDER BY c.customer_name ASC
;

+---------------+
| customer_name |
+---------------+
+---------------+

(h)	Qual o nome e morada do maior devedor do banco (várias contas bancárias)?

In [45]:
%%sql
SELECT
    c.customer_name, c.customer_street
FROM
    customer c
    INNER JOIN
    borrower b ON c.customer_name = b.customer_name
    INNER JOIN
    loan l ON l.loan_number = b.loan_number
GROUP BY c.customer_name
HAVING SUM(l.amount) >= ALL (
    SELECT
        SUM(l.amount)
    FROM
        customer c
        INNER JOIN
        borrower b ON c.customer_name = b.customer_name
        INNER JOIN
        loan l ON l.loan_number = b.loan_number
    GROUP BY c.customer_name
)
;

1 rows affected.

+---------------+-----------------+
| customer_name | customer_street |
+---------------+-----------------+
|     Brown     |   Main Street   |
+---------------+-----------------+

(i)	Qual o nome e morada do cliente com o maior saldo (várias contas bancárias)?

In [50]:
%%sql
SELECT
    c.customer_name, c.customer_street
FROM
    customer c
    INNER JOIN
    depositor d ON c.customer_name = d.customer_name
    INNER JOIN
    account a ON a.account_number = d.account_number
GROUP BY c.customer_name
HAVING SUM(a.balance) >= ALL (
    SELECT
        SUM(ac.balance)
    FROM
        customer cu
        INNER JOIN
        depositor de ON cu.customer_name = de.customer_name
        INNER JOIN
        account ac ON ac.account_number = de.account_number
    GROUP BY cu.customer_name
)
;

1 rows affected.

+---------------+-----------------+
| customer_name | customer_street |
+---------------+-----------------+
|     Brown     |   Main Street   |
+---------------+-----------------+

(j)	Qual é a agência com mais contas?

In [23]:
%%sql
SELECT
    b.branch_name
FROM
    branch b
    INNER JOIN
    account a ON b.branch_name = a.branch_name
GROUP BY b.branch_name
HAVING COUNT(a.account_number) >= ALL (
    SELECT
        COUNT(a.account_number)
    FROM
        branch b
        INNER JOIN
        account a ON b.branch_name = a.branch_name
    GROUP BY b.branch_name
)
;

3 rows affected.

+-------------+
| branch_name |
+-------------+
|    Uptown   |
|   Central   |
|   Downtown  |
+-------------+

(k)	Qual é a agência com o saldo médio mais elevado?

In [21]:
%%sql
SELECT
    b.branch_name
FROM
    branch b
    INNER JOIN
    account a ON b.branch_name = a.branch_name
GROUP BY b.branch_name
HAVING AVG(a.balance) >= ALL (
    SELECT
        AVG(a.balance)
    FROM branch b
        INNER JOIN
        account a ON b.branch_name = a.branch_name
    GROUP BY b.branch_name
)
;

2 rows affected.

+-------------+
| branch_name |
+-------------+
|    Uptown   |
|  Round Hill |
+-------------+

(l)	Liste o número de clientes por cada cidade onde existe pelo menos uma agência.

In [20]:
%%sql
SELECT
    b.branch_city AS city, COUNT(c.customer_name) AS clients
FROM
    (SELECT DISTINCT branch_city FROM branch) AS b
    INNER JOIN
    customer c ON b.branch_city = c.customer_city
GROUP BY b.branch_city
HAVING COUNT(c.customer_name) > 0
ORDER BY clients DESC
;

3 rows affected.

+-----------+---------+
|    city   | clients |
+-----------+---------+
|   Oporto  |    4    |
|   Lisbon  |    2    |
| Vila Real |    1    |
+-----------+---------+

(m)	Qual é a cidade com mais clientes?

In [26]:
%%sql
SELECT
    customer_city
FROM
    customer
GROUP BY customer_city
HAVING COUNT(customer_name) >= ALL (
SELECT
    COUNT(customer_name)
FROM
    customer
GROUP BY customer_city
)
;

1 rows affected.

+---------------+
| customer_city |
+---------------+
|     Oporto    |
+---------------+

(n)	Quais são os nomes dos clientes que têm conta em todas as agências do banco?

In [29]:
%%sql
SELECT
    d.customer_name
FROM
    depositor d
    INNER JOIN
    account a ON a.account_number = d.account_number
WHERE NOT EXISTS (
    SELECT
        branch_name
    FROM
        branch
    EXCEPT
    SELECT
        branch_name
    FROM depositor dd
        INNER JOIN
        account aa ON aa.account_number = dd.account_number
    WHERE
        dd.customer_name = d.customer_name
)
;

+---------------+
| customer_name |
+---------------+
+---------------+

(o)	Quais são os clientes que têm conta em todas as agências da cidade onde moram?

In [39]:
%%sql
SELECT DISTINCT
    c.customer_name
FROM
    customer c
    INNER JOIN
    depositor d ON c.customer_name = d.customer_name
    INNER JOIN
    account a ON d.account_number = a.account_number
    INNER JOIN
    branch b ON b.branch_name = a.branch_name
WHERE NOT EXISTS (
    SELECT
        branch_city
    FROM
        branch
    WHERE
        b.branch_name = branch_name
        AND
        c.customer_city != branch_city
)
;

1 rows affected.

+---------------+
| customer_name |
+---------------+
|      Cook     |
+---------------+