# Lab 02: Consultas em SQL (Parte I)

![Figure 1](../images/Bank%20Example%20-%20Printable.png "Bank Database")

O ficheiro bank.sql contém um conjunto de instruções SQL para criar a base de dados de exemplo ilustrada na Figura 1.

In [2]:
%load_ext sql
%config SqlMagic.displaycon = 0
%config SqlMagic.displaylimit = 100
%sql postgresql+psycopg://bank:bank@postgres/bank

There's a new jupysql version available (0.10.10), you're running 0.10.9. To upgrade: pip install jupysql --upgrade
Deploy Panel apps for free on Ploomber Cloud! Learn more: https://ploomber.io/s/signup

Connecting to 'postgresql+psycopg://bank:***@postgres/bank'

Escreva uma consulta em SQL para responder a cada uma das seguintes questões:

(a) Quem são os clientes que têm contas com saldo superior a 500€?

In [15]:
%%sql
SELECT DISTINCT
    d.customer_name
FROM
    depositor d,
    account a
WHERE
    d.account_number = a.account_number
    AND
    a.balance > 500
;

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Flores    |
|    Iacocca    |
|    Johnson    |
|     Evans     |
|     Oliver    |
|      Cook     |
|     Brown     |
+---------------+

(b) Em que cidades moram os clientes que têm empréstimos entre 1000€ e 2000€?

In [3]:
%%sql
SELECT DISTINCT
    c.customer_city
FROM
    customer c,
    borrower b,
    loan l
WHERE
    c.customer_name = b.customer_name
    AND
    b.loan_number = l.loan_number
    AND
    l.amount BETWEEN 1000 AND 2000
;

3 rows affected.

+---------------+
| customer_city |
+---------------+
|    Coimbra    |
|      Faro     |
|     Oporto    |
+---------------+

(c) Quais seriam os novos saldos das contas na agência de ‘Downtown’, se esta
oferecesse um bónus de 10% sobre o saldo atual dos seus clientes?

In [14]:
%%sql
SELECT
    a.balance * 1.1
AS
    "balance"
FROM
    account a
WHERE
    a.branch_name = 'Downtown'
;

2 rows affected.

+-----------+
|  balance  |
+-----------+
| 550.00000 |
| 935.00000 |
+-----------+

(d) Qual é o saldo de todas as contas do cliente que tem o empréstimo L-15?

In [5]:
%%sql
SELECT
    a.balance
FROM
    account a,
    depositor d,
    borrower b
WHERE
    b.loan_number = 'L-15'
    AND
    b.customer_name = d.customer_name
    AND
    a.account_number = d.account_number
;

2 rows affected.

+----------+
| balance  |
+----------+
| 700.0000 |
| 500.0000 |
+----------+

(e) Quais são as agências onde têm conta os clientes cujo nome começa por ‘J’ e acaba
em ‘n’?

In [6]:
%%sql
SELECT
    b.branch_name
FROM
    branch b,
    depositor d,
    account a
WHERE
    d.customer_name LIKE 'J%n'
    AND
    d.account_number = a.account_number
    AND
    a.branch_name = b.branch_name
;

2 rows affected.

+-------------+
| branch_name |
+-------------+
|   Downtown  |
|    Uptown   |
+-------------+

(f) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem exatamente 6 caracteres?

In [7]:
%%sql
SELECT
    l.amount
FROM
    loan l,
    borrower b,
    customer c
WHERE
    LENGTH(c.customer_city) = 6
    AND
    c.customer_name = b.customer_name
    AND
    b.loan_number = l.loan_number
;

6 rows affected.

+-----------+
|   amount  |
+-----------+
| 6000.0000 |
| 9000.0000 |
| 2000.0000 |
| 3000.0000 |
| 5000.0000 |
| 8000.0000 |
+-----------+

(g) Quais são as quantias dos empréstimos de todos os clientes que moram numa
cidade cujo nome tem pelo menos um espaço no meio (e não no início nem no
final)?

In [12]:
%%sql
SELECT
    l.amount
FROM
    loan l,
    borrower b,
    customer c
WHERE
    l.loan_number = b.loan_number
    AND
    b.customer_name = c.customer_name
    AND
    c.customer_city NOT LIKE ' %'
    AND
    c.customer_city NOT LIKE '% '
    AND
    c.customer_city LIKE '% %'
;

1 rows affected.

+-----------+
|   amount  |
+-----------+
| 4000.0000 |
+-----------+

(h) Quais os ativos (“assets”) das agências onde o Johnson tem conta?

In [8]:
%%sql
SELECT
    b.assets
FROM
    branch b,
    depositor d,
    account a
WHERE
    d.customer_name = 'Johnson'
    AND
    a.account_number = d.account_number
    AND
    a.branch_name = b.branch_name
;

2 rows affected.

+--------------+
|    assets    |
+--------------+
| 1900000.0000 |
| 1700000.0000 |
+--------------+

(i) Quem são os clientes que têm um empréstimo numa agência da mesma cidade onde moram?

In [9]:
%%sql
SELECT
    c.customer_name
FROM
    branch bch,
    borrower bor,
    customer c,
    loan l
WHERE
    c.customer_name = bor.customer_name
    AND
    bor.loan_number = l.loan_number
    AND
    l.branch_name = bch.branch_name
    AND
    bch.branch_city = c.customer_city
;

+---------------+
| customer_name |
+---------------+
+---------------+

(j) Qual é a quantia total em saldos de contas existentes em agências da cidade de Lisboa (‘Lisbon’)?

In [10]:
%%sql
SELECT
    SUM(a.balance)
FROM
    branch b,
    account a
WHERE
    a.branch_name = b.branch_name
    AND
    b.branch_city = 'Lisbon'
;

1 rows affected.

+-----------+
|    sum    |
+-----------+
| 1350.0000 |
+-----------+

(k) Quem são os clientes que moram em cidades onde existem agências do banco?

In [11]:
%%sql
SELECT DISTINCT
    c.customer_name
FROM
    branch b,
    customer c
WHERE
    c.customer_city = b.branch_city
;

7 rows affected.

+---------------+
| customer_name |
+---------------+
|     Adams     |
|     Lopez     |
|     Oliver    |
|     Parker    |
|      Cook     |
|     Davis     |
|     Brown     |
+---------------+

In [34]:
%%sql
SELECT
    b.customer_name AS "Name",
    b.loan_number AS "Loan",
    c.customer_street AS "Street",
    c.customer_city AS "City"
FROM
    borrower b
    INNER JOIN customer c ON  b.customer_name = c.customer_name
ORDER BY b.customer_name, b.loan_number
;

10 rows affected.

+----------+-------+---------------+----------------+
|   Name   |  Loan |     Street    |      City      |
+----------+-------+---------------+----------------+
|  Brown   | L-11  |  Main Street  |     Oporto     |
|  Brown   | L-21  |  Main Street  |     Oporto     |
|  Brown   | L-23  |  Main Street  |     Oporto     |
|   Cook   | L-15  |  Main Street  |     Lisbon     |
|  Davis   | L-93  | Church Street |     Oporto     |
| Gonzalez | L-17  |  Sunny Street |      Faro      |
| Iacocca  | L-16  |  Spring Steet |    Coimbra     |
| Iacocca  | L-17  |  Spring Steet |    Coimbra     |
|  Nguyen  | L-14  | School Street | Castelo Branco |
|  Parker  | L-20  |  Hope Street  |     Oporto     |
+----------+-------+---------------+----------------+

In [61]:
%%sql
SELECT
    b.branch_city, SUM(b.assets)
FROM
    branch b
GROUP BY b.branch_city
;

RuntimeError: (psycopg.errors.GroupingError) column "b.assets" must appear in the GROUP BY clause or be used in an aggregate function
LINE 2:     b.branch_city, b.assets
                           ^
[SQL: SELECT
    b.branch_city, b.assets
FROM
    branch b
GROUP BY b.branch_city
;]
(Background on this error at: https://sqlalche.me/e/20/f405)
If you need help solving this issue, send us a message: https://ploomber.io/community